* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

.board {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  background-image: url("img/background.jpg");
  background-position: center;
  background-size: cover;
}

#todo-form {
  margin: 20px auto;
}

#todo-form input {
  padding: 12px;
  margin-right: 12px;
  width: 250px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: white;
  font-size: 14px;
  outline: none;
}

#todo-form button {
  padding: 12px 32px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: #fff;
  color: black;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

#todo-form button:hover {
  background-color: rgb(101, 101, 101);
  color: #f4f4f4;
}
.lanes {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  overflow: scroll;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 10px auto;
}

.heading {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.swim-lane {
  display: flex;
  flex-direction: column;
  gap: 19px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: #f4f4f4;
  padding: 12px;
  border-radius: 4px;
  width: 250px;
  min-height: 120px;
  flex-shrink: 0;
}

.task {
  display: flex;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: white;
  color: black;
  padding: 12px;
  border-radius: 4px;
  font-size: 16px;
  cursor: move;
}

.is-dragging {
  scale: 1.05;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: rgb(84, 84, 84);
  color: white;
}

.delete-btn {
  color: rgb(80, 80, 80);
  cursor: pointer;
  font-size: 10px;
  margin: auto 0;
  margin-left: auto;
}

@media all and (max-width: 875px) {
  .lanes {
    width: 550px;
  }
}

@media all and (max-width: 577px) {
  #todo-form {
    display: flex;
    flex-direction: column;
  }
  #todo-form input {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .lanes {
    width: 90%;
    justify-content: center;
  }
}
